.container{
    display:flex ;
    flex-direction: column;
    margin:auto;
    margin-top: 200px;
    background: #4e1ea9;
    padding-bottom: 80px;
    width:50%;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color:#5bbccf ;
    font-size: 48px;
    font-weight: 700;
    font-size: xx-large;

}

.underline{
    width: 61px;
    height: 6px;
    background: #5bbccf;
    border-radius: 9px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    
    
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 80%;
    height: 80px;
    background: #e9e6e6;
    border-radius: 6px;

}

.button1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin: auto;
    width: 20%;
    background: #2399c8;
}

.input img{
margin: 0px 30px;
}

.input input {
    height: 50px;
    width: 100px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 14px;
}

.forgot-password{
    padding-left: 50px;
    margin-top: 30px;
    width: 70%;
    color: #fff;
    font-size: 15px;
}

.forgot-password span{
    color:#c82323 ;
    cursor: pointer;
}

.submit-container{
    display: flex;
    width: 60%;
    height: 30px;
    gap: 80px;
    margin: auto;
    margin-top: 40px;
}

.submit{
    display: flex;
    justify-content: center;
    color: #fff;
    background: #c82323;
    width: 35%;
    border-radius: 100px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;

}


.gray{
    background: #e9e6e6;
    color: #353232;
  
  }